<div class="bg-primary">
    <div class="container-custom">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand text-white" href="#">Movies</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#">จองที่หนังออนไลน์ <span
                                class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="container-custom pb-5">
    <div class="row">
        <div class="col-2 mt-5 mr" *ngFor="let item of image_names;index as indexs">
            <img src={{item.src}} alt={{item.alt}} style="width: 100%">
            <div style="text-align: center">
                <button type="button" class="btn btn-primary mt-3" [routerLink]="['/room',item.alt,indexs]">ดูหนัง</button>
            </div>
        </div>
    </div>
</div>