<h2 style="margin: 40px">Products</h2>

<div *ngFor="let product of products,index as productId">
    <h3>
        <a [title]="product.name + ' details'" [routerLink]="['/products',productId]">
            {{product.name}}
        </a>
    </h3>

    <p *ngIf="product.description">
        Description: {{product.description}}
    </p>

    <button type="button" class="btn btn-primary" (click)="share()" 
        style="margin-bottom: 30px">
        Share
    </button>

    <app-alerts-product
        [product]="product"
        (notify)="onNotify()">
    </app-alerts-product>
    
</div>